body {
    background-color: rgb(50, 50, 50);
}

#name {
    text-align: center;
    overflow: hidden;
    margin: 0px;
}

#price {
    text-align: center;
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 0px;
}

#skinimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    object-fit: contain;
    width: 80%;
    height: 80%;
    transform: translateY(-10%);
}

#randomskindiv {
    display: none;
    width: 400px;
    height: 400px;
    background-image: url("blurrybackground.jfif");
    background-repeat: no-repeat;
    background-size: 180%;  
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
}

#buttonDiv {
    margin: auto;
    width: 50%;
    padding: 40px;
}

#openCaseButton {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 40px;
    border: 3px solid black;
    cursor: pointer;
}

#toggle-button {
    margin: 0 auto;
    width: 100%;
}

#settings-button {
    position: fixed;
    top: 10px;
    right: 35px;
    display: block;
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
    visibility: hidden;
    background-color: rgb(50, 50, 50);
    z-index: 10;
}

#settings-panel {
    display: block;
    position: fixed;
    top: 0;
    right: -140px;
    width: 100px;
    height: 100%;
    background-color: white;
    border: px solid #ccc;
    padding: 20px;
    padding-top: 80px;
    overflow-x: hidden;
    transition: right 0.3s;
}

#settings-panel.on {
    right: 0px;
}

#settingsimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    object-fit: contain;
    width: 100%;
    height: 100%;
    visibility: visible;
}

#safelabel {
    margin: 10px;
    text-align: center;
}

#settingsimg:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

#settingsimg:not(:hover) {
    opacity: 1;
    transition: opacity 0.5s;
}

#openCaseButton:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

#openCaseButton:not(:hover) {
    opacity: 1;
    transition: opacity 0.5s;
}

#loading {
    margin: auto;
    width: 40%;
    transform: translateY(-30px);
}

#loadingtext {
    text-align: center;
    color: black;
}

#loadinggif {
    margin-top: -15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    width: 10%;
    height: 10%;
    visibility: visible;
}