#name {
    text-align: center;
    overflow: hidden;
}

#skinimg {
    display: block;
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#randomskin {
    display: none;
    width: 600px;
    height: 400px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
}
